@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Varrock General Store</h1>
    <p class="lead">Supplying adventurers since 2001</p>
    <p><a href="https://oldschool.runescape.wiki/w/Varrock_General_Store" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            The Varrock General Store provides basic items for questing and skilling.
        </p>
        @Html.ActionLink("Check Products", "Index", "Product", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        @Html.ActionLink("View Customers", "Index", "Customer", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>Transactions</h2>
        @Html.ActionLink("View Transactions", "Index", "Transaction", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>